.admin-page {
  padding: 5rem;
  min-height: 90rem;

  &__header {
    height: 20rem;
    p {
      font-size: 2rem;
    }
    h4 {
      font-size: 3rem;
    }
  }
  .ant-table-pagination.ant-pagination {
    margin: 4rem 0;
    justify-content: center;
  }
}
.ant-scrolling-effect {
  width: 100% !important;
}

.admin-page__birthday-input {
  width: 100% !important;
}
