$color-primary: #564d94;

$color-black: #000;
$color-white: #fff;
$color-gray: #eee;

$color-primary-light-1: #9a94bf;
$color-primary-light-2: #dddbea;
$color-primary-light-3: #eeedf4;

$color-primary-dark-1: #3c3668;
$color-primary-dark-2: #2b274a;

$color-text: #ddd;
$color-text-sub: #ccc;
$color-text-dark: #333;
